extends layout

block content
  form.Form(method="POST" action=`/delete/${post._id}`)
    .Form-content
      h2.Post-title= post.title

    p.Form-text Are you sure you want to delete this post?
      
    .Form-buttonGroup
      button.Form-button(type="submit") Delete Post
      a.Form-button(href="/") Go back

