extends layout

block content
  form.PostForm(method="POST" action="/create")
    .Field
      label.Field-label Title
      input.Field-input(type="text", name="title", placeholder="Post title")
    .Field
      label.Field-label Description
      textarea.Field-textare(name="description", cols="30", rows="10")
    .Field
      button.Field-button(type="submit") Create Post

