doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
  body
    block header
      header.Header
        .Logo
          h1.Logo-title Node Blog
        
        if user
          .UserBox
            .UserBox-info
              span.UserInfo-username username
              span.UserInfo-email email
            .UserBox-actions
              a.UserBox-signout(href="/logout") Signout
        else
          .Header-actions
            a.Header-signin(href="/signin") Signin
            a.Header-Signup(href="/signup") Signup
    .Content
      block content
    
    block footer
      footer.Footer
        p allen4dev 2017