mixin postForm(post = {})
  form.PostForm(method="POST" action=`/create/${post._id || ''}`)
    .Field
      label.Field-label Title
      input.Field-input(type="text", name="title", placeholder="Post title" value=post.title)
    .Field
      label.Field-label Description
      textarea.Field-textare(name="description")= post.description

    .Field
      label.Field-label Categories
      select.Field-checkboxGroup
        option.Field-option Games
        option.Field-option Games
        option.Field-option Games

    .Field
      if post.title
        button.Field-button(type="submit") Edit Post
      else
        button.Field-button(type="submit") Create Post
