mixin postList(posts = [])
  if posts.length === 0
    .container
      p.message No posts.
  else
    section.PostList
      each post in posts
        article.Post
          h4.Post-title= post.title
          p.Post-description= post.description