mixin postList(postlist = [])
  if postlist.length === 0
    .container
      p.message No posts.
  else
    section.PostList
      each post in postlist
        article.Post
          h4.Post-title Title of the post
          p.Post-description Description of the post